<div class="container">
    <div class="row">
        <h1>Add Task</h1>
        <form #form="ngForm" (ngSubmit)="addTask()">
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" id="description" name="description" [(ngModel)]="newTask.description">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <div class="row">
        <h1>My To Do List</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Task</th>
                <th scope="col">Created Date</th>
                <th scope="col">Completed?</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of toDoList">
                <th [class.stroke]="task.isCompleted">{{ task.description }}</th>
                <td>{{ task.createdDate | date: 'MM/dd/yyyy hh:mm a' }}</td>
                <td><input type="checkbox" [checked]="task.isCompleted" (change)="onCompletedChange(task.id, task)"></td>
                <td><a [routerLink]="[]" (click)="removeTask(task.id)">Remove</a></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
