<div class="container">
    <div class="row">
        <h1>Add Task</h1>
        <form #form="ngForm" (ngSubmit)="addTask()">
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" id="description" name="description" (ngModel)="newTask.description">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <div class="row">
        <h1>My To Do List</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Task</th>
                <th scope="col">Date Created</th>
                <th scope="col">Completed?</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of toDoList">
                <th>{{ task.description }}</th>
                <td>{{ task.createdDate }}</td>
                <td>{{ task.isCompleted }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
